.container {
  margin: 30px;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  padding: 2%;
  background-color:grey;
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 5% 0;
  margin: 2%;
  background-color: wheat;
  color: wheat;
  font-size: 40px;
}

.card--open {
  cursor: auto;
  color: black;
}

.card--match {
  background-color: green;
}

.card--mismatch {
  background-color: red;
}


